* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background-color: blue;
  color: white;
  /*height: 300px; by turning off the height,it's responsive;height creates more space. Ifyou want that use padding in emfor responsiveness*/
  width: 80%;
  margin: 0 auto;
  padding: 5em;/*16 * 5 = 80px*/
}