* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: white;
  width: 80%;
  max-width: 750px;/*It's always 80% as long as it is 750px*/
  margin: 0 auto;
  padding: 50px 50px 150px 50px;
}

.inner-container {
   width: 50%;
}